<div class="side-nav">
    <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-light sidebar sidebar-light accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div class="sidebar-brand d-flex align-items-center justify-content-center">
      <img class="sidenav-img" src="./../../../assets/images/head.png" alt="profile-img">
      <div>
        <div class="sidebar-brand-text mx-3">Welcome</div>
        <div class="sidebar-brand-subtitle mx-3">Angelina</div>
      </div>
    </div>
    <!-- Nav Item - Dashboard -->

    <hr class="sidebar-divider">

    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" href="" routerLink="/dashboard">
          <i class="bi bi-ui-checks-grid"></i>
          <span>Dashboard</span>
        </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="" routerLink="/ratios">
          <i class="bi bi-record-circle"></i>
          <span>Ratios</span>
        </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="" routerLink="/analysis">
          <i class="bi bi-bar-chart-line"></i>
          <span>Analysis</span>
        </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="" routerLink="/important-data">
          <i class="bi bi-graph-up-arrow"></i>
          <span>Important Data</span>
        </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="" routerLink="/blog">
          <i class="bi bi-file-text"></i>
          <span>Blog</span>
        </a>
    </li>

  </ul>
  <!-- End of Sidebar -->

</div>
